{% extends 'blog/base.html' %}

{% block content %}

    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user_post' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content|urlize }}</p>
            {% if object.author == user %}
                    <div>
                        <a class="btn sm btn btn-secondary mb-1" href="{% url 'post_update' object.id %}">Update</a>
                        <a class="btn sm btn btn-danger mb-1" href="{% url 'post_delete' object.id %}">Delete</a>
                    </div>
            {% endif %}
            
            <br/><br/>
            <form action="{% url 'like_post' object.id %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                    <button class="btn btn-danger btn-sm" type="submit" name "post_id" value={{object.id}}>Unlike
                    </button>
                {% else %}
                    <button class="btn btn-primary btn-sm" type="submit" name "post_id" value={{object.id}}>Like</button>
                {% endif %}
                 - {{ total_likes }}
            </form>

        </div>
    </article>
    
{% endblock  %}
